
body{
    border: 1px solid #000;
    margin: 0px;
}
nav a{
    color: rgba(255, 255, 255, 0.3)
}

hr{
    width: 100px;
    height: 3px; 
    background-color: #0a9   
}

h1#scale {
    padding-top: 100px;
    letter-spacing: 0.8rem;
    font-size: 100px;
    font-weight: 330;
    color: rgba(255, 255, 255, 0.5);
    background-color: -webkit-linear-gradient(#fff, #000);
    -webkit-text-fill-color: unset;
    -webkit-background-clip: text;
}
header h1{
   background-color: -webkit-linear-gradient(top, rgba(50,50,50 ,0.5), rgba(10));
}
span{
    color: #0a9;
}
#banner{
    height: 700px;
    background-image: -webkit-linear-gradient(top,rgba(200, 200, 200, 0.1), rgba(0, 0, 0, 1)), url("./img/bg-masthead.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}
#banner-bottom{
    background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 1), rgba(30, 30, 30, 0.5));
}
.jumbotron{
    background: transparent;
}
#grayscale{
    border-left: 4px solid #0a9;
    padding-left: 15px;
}
#inputemail{
    width : 400px;
}
footer hr{
    text-align: center;
}
#footer{
    height: 500px;
    background-image: url("./img/bg-signup.jpg");
    background-position-y: 40%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
}
.fa-location-arrow{
    width:500px;
    height:100px;
}
.reseau-so{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #333;
    margin-left: 5px;
    border-radius: 100%;
}